body {
    display: grid;
    height: 100vh;
    grid-template: auto 2fr auto/ 1fr;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

header {
    background: rgb(239, 188, 155);
    text-align: center;
    grid-column: 1 / 4;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

nav {
    background: rgb(157, 106, 137);
    padding: 2rem;
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
    width: 100%;
}

nav a:hover {
    color:rgb(239, 188, 155)
}

main {
    max-width: 100%;
}
section.right {
    background: rgb(238, 146, 194);
    grid-column: 2 / 4;
    text-decoration: none;
    border-radius: 2em;
    padding: 3em;
}

section a {
    text-decoration: none;
    font-size: larger;
    color: rgb(0, 0, 0);
}

section a:hover{
    color:white;
}

section h2 {
    font-size: 30px;
}

section.card {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
}

section.left {
    grid-column: 1 / 2;
    padding: 2em;
    display:grid;
    grid-template-columns: 2fr 1fr; 
}

.text-content {
    display: grid;
    align-items: center; 
    grid-column: 1 / 2;
}

.picture img {
    display: grid;
    border-radius: 2em;
    padding: 1em;
    justify-items: center; 
}

footer {
    background: rgb(239, 188, 155);
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
}