@media (min-width: 600px) { 
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;

    }  

    .formreview {
        width: 100%; 
        max-width: 800px; 
        padding: 2rem;
        margin: auto;
        box-sizing: border-box;  
        border-radius: 8px; 
    }

    .form input[type="submit"]{
        padding: 1.2rem;
        font-size: 20px;
    }

}